{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> <!-- Specifies the character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sets the viewport for responsive design -->
    <meta name="description" content="This is a description of the webpage"> <!-- Provides a brief description of the webpage -->
    <meta name="keywords" content="HTML, meta tag, metadata"> <!-- Specifies keywords related to the webpage content -->
    <meta name="author" content="Your Name"> <!-- Specifies the author of the webpage -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Sets the compatibility mode for Internet Explorer -->
    <title>My Webpage</title>
    <link rel="stylesheet" href="{% static 'css/first.css' %}"/>
</head>
<body>
    <h1> This is my first ever template in django</h1>
    <a href="https://phitron.io">This is a link</a>
    <img src="{% static 'images/first1.jpg' %}" alt="Nature Image"/>
    <img src="{% get_static_prefix %}images/first2.jpg " alt="fiack Image"/>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
