{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> <!-- Specifies the character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Sets the viewport for responsive design -->
    <meta name="description" content="This is a description of the webpage"> <!-- Provides a brief description of the webpage -->
    <meta name="keywords" content="HTML, meta tag, metadata"> <!-- Specifies keywords related to the webpage content -->
    <meta name="author" content="Your Name"> <!-- Specifies the author of the webpage -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Sets the compatibility mode for Internet Explorer -->
    <title>My Webpage</title>
    <link rel ="stylesheet" href= "{% static 'first_app/css/first.css'%}"/>
</head>
<body>
    <h1>We are inside app</h1>
    <h1> Author name : {{name}}</h1>
    <img src="{% static 'first_app/images/first11.jpg' %}" alt="Nature Image"/>
        {% comment %} {% if age >= 18 %}
        <p>vai tumi driving license nite parba</p>
        {% else %}
        <p>tumi ekta sishu. basay jao</p>
        {% endif %} {% endcomment %}
        {% comment %} {% if marks >= 80 %}
        <p>vai tumi A+ paicho</p>
        {% elif marks >= 70 and marks <= 79 %}
        <p>vai tumi A paicho</p>
        {% elif marks >= 40 and marks <= 69 %}
        <p>vai tumi pass paicho</p>
        {% else %}
        <p>vai tumi fail korcho</p>
        {% endif %} {% endcomment %}
        {% comment %} <table border="4"with =500 >
        <tr>
                <th>ID</th>
                <th>Course</th>
                <th>Teacher</th>
        </tr>
        
            {% for i in courses %}
            <tr>
            <td> {{i.id}}</td>
            <td>{{i.course}}</td>
            <td> {{i.teacher}}</td>
            {% endfor %}
        </tr>

        </table> {% endcomment %}
        <h1>{{marks| add:"2"}} </h1>
        <h1>{{marks| divisibleby:"2" }}</h1>
        <h1>{{name| length }}</h1>
        <h1>{{ name | wordcount }}</h1>
        <h1>{{ blog |truncatewords:5 }}</h1>
        <h1>{{ blog |truncatechars:20 }}</h1>
        <h1>{{ name| make_list }}</h1>
        <h1>{{ name| upper }}</h1>
        <h1>{{ name| lower }}</h1>
        <h1>{{ lst| join:"," }}</h1>

    </body>
</html>
